.discover {
  font-size: calc(2em + 1vw);
  font-weight: 600;
  line-height: 38px;
  color: #21436e;
  text-align: center;
  font-family: diodrumArabic;
}

.amentities {
  font-size: calc(3em + 1vw);
  font-weight: 600;
  line-height: 38px;
  color: #21436e;
  line-height: 88px;
  letter-spacing: -5.6px;
  text-align: center;
  margin-left: 10%;
  font-family: diodrumArabic;
  white-space: nowrap;
}

.subtitle {
  font-size: calc(0.5em + 1vw);
  font-weight: 400;
  line-height: 38px;
  color: #21436e;
  line-height: 29px;
  text-align: center;
  font-family: sharpSansMedium;
  // white-space: nowrap;
}

.subtitle2 {
  font-size: calc(0.5em + 1vw);
  font-weight: 400;
  line-height: 38px;
  color: #21436e;
  line-height: 29px;
  text-align: center;
  margin-left: -2rem;
  font-family: sharpSansMedium;
}

.filter-green {
  filter: brightness(0) saturate(100%) invert(24%) sepia(31%) saturate(1039%)
    hue-rotate(173deg) brightness(93%) contrast(97%);
}

.filter-navyBlue {
  filter: brightness(0) saturate(100%) invert(47%) sepia(95%) saturate(1416%)
    hue-rotate(158deg) brightness(91%) contrast(101%);
}

.title {
  font-size: calc(0.5em + 1vw);
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 16px;
  font-family: "diodrumArabic";
  white-space: nowrap;
}
.lines {
  font-size: calc(0.3em + 1vw);
  text-align: center;
  color: #757575;
  font-family: "sharpSansMedium";
  white-space: nowrap;
}
