.temperature {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  font-family: "diodrumArabic";
}

.book-now {
  box-sizing: border-box;
  width: 8rem;
  height: 2.5rem;
  background: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-family: "shanti";
  font-size: 14px;
}

.menu {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  line-height: 20px;
  font-family: "diodrumArabic";
}
