@font-face {
  font-family: diodrumArabic;
  src: url(./assets/fonts/DiodrumArabicRegular.ttf);
}
@font-face {
  font-family: shanti;
  src: url(./assets/fonts/Shanti-Regular.ttf);
}
@font-face {
  font-family: sharpSansMedium;
  src: url(./assets/fonts/SharpSansNo1-Medium.ttf);
}
@font-face {
  font-family: sharpSansBook;
  src: url(./assets/fonts/SharpSansNo1-Book.ttf);
}

.diodrumArabic {
  font-family: diodrumArabic;
}
.shanti {
  font-family: shanti;
}
.sharpSansMedium {
  font-family: sharpSansMedium;
}
.sharpSansBook {
  font-family: sharpSansBook;
}
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  background-color: rgba(196, 196, 196, 0.4) !important;
}

.carousel-indicators {
  bottom: -60px !important;
  left: -100px !important;
}

.carousel-inner {
  margin-bottom: 50px !important;
}

.form-control {
  border-bottom: 1px solid #646464 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background-color: transparent !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.form-floating > .form-control:focus {
  box-shadow: none !important;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: 3rem !important;
}

/* .form-check-input:checked {
  background-color: transparent !important;
} */

.form-check-input {
  border-color: #646464 !important;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none !important;
}
.modal-title {
  color: #21436e !important;
  font-family: sharpSansMedium !important;
  font-weight: 600 !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}
